@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 97%;
    --foreground: 38 41% 25%;
    --card: 48 83% 99%;
    --card-foreground: 38 41% 25%;
    --popover: 48 83% 99%;
    --popover-foreground: 38 41% 25%;
    --primary: 48 96% 53%;
    --primary-foreground: 38 41% 15%;
    --secondary: 48 83% 90%;
    --secondary-foreground: 38 41% 25%;
    --muted: 35 25% 85%;
    --muted-foreground: 35 25% 40%;
    --accent: 45 86% 49%;
    --accent-foreground: 30 30% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 20% 80%;
    --input: 35 20% 82%;
    --ring: 48 96% 53%;
    --chart-1: 48 96% 53%;
    --chart-2: 45 86% 49%;
    --chart-3: 38 41% 60%;
    --chart-4: 48 83% 80%;
    --chart-5: 38 25% 70%;
    --radius: 0.5rem;
    --sidebar-background: 25 30% 9%;
    --sidebar-foreground: 30 30% 95%;
    --sidebar-primary: 48 96% 53%;
    --sidebar-primary-foreground: 38 41% 15%;
    --sidebar-accent: 25 30% 12%;
    --sidebar-accent-foreground: 30 30% 98%;
    --sidebar-border: 25 30% 11%;
    --sidebar-ring: 48 96% 53%;
  }
  .dark {
    --background: 25 25% 10%;
    --foreground: 48 50% 95%;
    --card: 25 25% 12%;
    --card-foreground: 48 50% 95%;
    --popover: 25 25% 12%;
    --popover-foreground: 48 50% 95%;
    --primary: 48 90% 60%;
    --primary-foreground: 38 41% 15%;
    --secondary: 25 20% 20%;
    --secondary-foreground: 48 50% 95%;
    --muted: 30 20% 20%;
    --muted-foreground: 30 20% 65%;
    --accent: 45 80% 55%;
    --accent-foreground: 38 41% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 20% 25%;
    --input: 30 20% 25%;
    --ring: 48 90% 60%;
    --chart-1: 48 90% 60%;
    --chart-2: 45 80% 55%;
    --chart-3: 38 41% 50%;
    --chart-4: 48 83% 30%;
    --chart-5: 38 25% 40%;
    --sidebar-background: 25 30% 5%;
    --sidebar-foreground: 30 30% 95%;
    --sidebar-primary: 48 90% 60%;
    --sidebar-primary-foreground: 38 41% 15%;
    --sidebar-accent: 25 30% 9%;
    --sidebar-accent-foreground: 30 30% 98%;
    --sidebar-border: 25 30% 7%;
    --sidebar-ring: 48 90% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
